
.custom-table .ant-table {
    background-color: #343944; 
    color: #ffffff; 
  }
  
  .custom-table .ant-table-thead > tr > th {
    background-color: #343944;
    color: #ffffff;
  }
  
  .custom-table .ant-table-tbody > tr > td {
    background-color: #343944;
    color: #ffffff; 
  }
  
  .custom-table .ant-table-tbody > tr,
  .custom-table .ant-table-tbody > tr:hover > td,
  .custom-table .ant-table-tbody > tr:hover {
    background-color: #343944 !important; 
    color: #ffffff !important; 
    transition: none !important;
  }
  :where(.css-dev-only-do-not-override-1c0na6j).ant-table-wrapper .ant-table-thead >tr>th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before{
    position: fixed !important;
  }

  :where(.css-dev-only-do-not-override-1c0na6j).ant-table-wrapper .ant-table-thead >tr>th{
    border-bottom: none;
  }
  :where(.css-dev-only-do-not-override-1c0na6j).ant-table-wrapper .ant-table-tbody >tr >td {
    border-bottom: none;
  }
  .custom-table .ant-table-cell-row-hover{
    background: #343944 !important;
  }